@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<form id="resetPasswordForm" asp-action="ResetPassword" asp-controller="Account" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="userID" class="form-label">UserID:</label>
        <input type="text" id="userID" name="userID" value="@ViewBag.UserID" readonly/>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

