@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<h1>Reset Password</h1>

<form id="resetPasswordForm" asp-action="ResetPassword" asp-controller="Account" method="post" onsubmit="return validatePassword()">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="userID" class="form-label">UserID:</label>
        <input type="text" class="form-control" id="userID" name="userID" value="@ViewBag.UserID" readonly/>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmPassword" required>
    </div>
    <p id="confirmPasswordMessage"></p>

    <button type="submit" class="btn btn-primary" id="submitButton">Reset Password</button>
</form>

<script>
    function validatePassword(event) {
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (newPassword !== confirmPassword) {
            // alert("Passwords do not match!");
            // showCustomAlert("Message", "Passwords do not match!");
            document.getElementById("confirmPasswordMessage").textContent = "Passwords do not match!";
            document.getElementById("confirmPasswordMessage").style.color = "red";
            return false;
        }
        return true;
    }
</script>


