<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin</title>

    <!-- Boxicons (for icons) -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Bootstrap 5 (Latest Version) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/adminStyle.css">
</head>
<body>
    <nav class="navbar-top">
        <div class="left-buttons">
            <a asp-area="Admin" asp-controller="Admin" asp-action="SecurePage" class="btn-navbar"><b>Inventory System</b></a>
            <a href="javascript:void(0);" class="btn-navbar" id="menu" onclick="toggleSidebar()">
                <i class='bx bx-menu'></i> <!-- Menu Icon -->
            </a>
        </div>
        <div class="right-buttons">
            <div class="dropdown">
                <a href="javascript:void(0);" class="btn-navbar" onclick="toggleDropdown()">
                    <img src="~/Resources/profile-icon-design-free-vector.jpg" alt="profile" class="profile-icon" />
                </a>
                <div id="dropdown-profile-menu" class="dropdown-profile-content">
                    <a href="javascript:void(0);">Profile</a>
                    <a href="javascript:void(0);">Settings</a>
                    <a asp-area="" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar-left">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn-left @(ViewContext.RouteData.Values["controller"]?.ToString() == "Users" ? "active" : "")">Users</a>
        <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="btn-left @(ViewContext.RouteData.Values["controller"]?.ToString() == "Roles" ? "active" : "")">Roles</a>
    </nav>

    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
