@model UsersViewModel

@{
    ViewData["Title"] = "Edit User";
    Layout = "_AdminLayout";
    string dbType = ViewBag.dbType ?? "main";
}

<h2>Edit User</h2>

<div>
    <h4>UsersModel</h4>
    <hr />
    <form asp-action="Edit" asp-controller="Users" asp-route-dbType="@dbType" method="post">
        <input type="hidden" asp-for="NewUser.UserID"/>
        <div class="form-group">
            <label asp-for="NewUser.Username" class="control-label"></label>
            <input asp-for="NewUser.Username" class="form-control" />
            <span asp-validation-for="NewUser.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewUser.Email" class="control-label"></label>
            <input asp-for="NewUser.Email" class="form-control" />
            <span asp-validation-for="NewUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewUser.PhoneNumber" class="control-label"></label>
            <input asp-for="NewUser.PhoneNumber" class="form-control" />
            <span asp-validation-for="NewUser.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewUser.PasswordHash" class="control-label"></label>
            <input asp-for="NewUser.PasswordHash" class="form-control" />
            <span asp-validation-for="NewUser.PasswordHash" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewUser.RoleID" class="control-label"></label>
            <select asp-for="NewUser.RoleID" class="form-control">
                @* <option value="1">Admin</option> *@
                @* <option value="2">Donor</option> *@
                @* <option value="3">Hospital</option> *@

                @foreach (var role in Model.Roles)
                {
                    <option value="@role.RoleID">@role.RoleName</option>
                }

            </select>
            <span asp-validation-for="NewUser.RoleID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewUser.CreatedAt" class="control-label"></label>
            <input asp-for="NewUser.CreatedAt" class="form-control" readonly />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

