<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin</title>
    <script type="importmap"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/adminStyle.css">
</head>
<body>
    <nav class="navbar-top">
        <div class="left-buttons">
            <a asp-area="" asp-controller="Users" asp-action="Index" class="btn-navbar"><b>Inventory System</b></a>
            <a href="javascript:void(0);" class="btn-navbar" id="menu" onclick="toggleSidebar()">
                <i class='bx bx-menu'></i>
            </a>
        </div>
        <div class="right-buttons">
            <div class="dropdown">
                <a href="javascript:void(0);" class="btn-navbar" onclick="toggleDropdown()">
                    <img src="~/Resources/profile-icon-design-free-vector.jpg" alt="profile" class="profile-icon"/>
                </a>
                <div id="dropdown-profile-menu" class="dropdown-profile-content">
                    <a href="javascript:void(0);">Profile</a>
                    <a href="javascript:void(0);">Settings</a>
                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar-left">
        <a asp-controller="Users" asp-action="Index" class="btn-left @(ViewContext.RouteData.Values["controller"]?.ToString() == "Users" ? "active" : "")">Users</a>
        <a asp-controller="" asp-action="" class="btn-left @(ViewContext.RouteData.Values["controller"]?.ToString() == "Roles" ? "active" : "")">Roles</a>
    </nav>

    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>