@model RolesViewModel

@{
    ViewData["Title"] = "Edit Role";
    Layout = "_AdminLayout";
    string dbType = ViewBag.dbType ?? "main";
}

<h2>Edit Role</h2>

<div>
    <form asp-action="Edit" asp-controller="Roles" asp-route-dbType="@dbType" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="NewRole.RoleID" />

        <div class="form-group mt-2">
            <label asp-for="NewRole.RoleName" class="control-label"></label>
            @if (Model.NewRole.RoleID == 1 || Model.NewRole.RoleID == 2 || Model.NewRole.RoleID == 3)
            {
                <input asp-for="NewRole.RoleName" class="form-control" id="roleNameField" required readonly/>
            }
            else
            {
                <input asp-for="NewRole.RoleName" class="form-control" required />
            }
            <span asp-validation-for="NewRole.RoleName" class="text-danger"></span>
        </div>

        <h4 class="mt-2">Assign Permissions</h4>
        <div class="form-group mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Permission</th>
                        <th>Has Access</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Permissions.Count; i++)
                    {
                        <tr>
                            <td>@Model.Permissions[i].Name</td>
                            <td>
                                <input type="hidden" asp-for="Permissions[i].PermissionID" />
                                <input type="hidden" asp-for="Permissions[i].Name" />
                                <input type="checkbox" asp-for="Permissions[i].IsSelected" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="mt-2">
    <a class="btn btn-sm btn-outline-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var roleNameField = document.getElementById('roleNameField')

            if (roleNameField.hasAttribute('readonly')) {
                roleNameField.style.backgroundColor = "#e9ecef";
                roleNameField.style.cursor = "not-allowed";
                roleNameField.style.opacity = "0.6";
            }
        });

    </script>
}
